* {
	font-family: "Lato", sans-serif;
}

body {
	text-align: center;
}

.project-title, .description {
	text-transform: uppercase;
}

.header {
	border-bottom: 4px solid lightgray;
	margin: 20px 0 20px;
}

.logo {
	padding-top: 40px;
	max-width: 70px
}

.logo-image {
	max-width: 70px
}

.info {
	text-transform: uppercase;
	color: #2d3c49;
}

.large-image, .small-image {
	width: 100%;
}
.featured-work {
	width: 100%;
}

.featured-work h2 {
	text-align: left;
	font-size: 2em;
	font-weight: 400;
	color: #7d97ad;
}

.featured-work a {
	color: #2d3c49;
	text-decoration: none;
}

.image-box {
	padding: 0px 8px;
}

.footer {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  padding: 2px;
  background-color: black;
  color: white;
}

.fa-github {
	color: white;
}

@media (max-width: 50em) {
	.info, .logo {
		text-align: center;
	}
	.info h1 {
		font-size: 3em;
		font-weight: 100;
		margin-bottom: 0;
	}
	.info h3 {
		font-weight: 400;
		margin-top: 0.5em;
	}
}

@media (min-width: 50em){
	.info {
		text-align: right;
	}	
	.logo {
		text-align: left;
	}
	.info h1 {
		font-size: 3em;
		font-weight: 100;
		margin-bottom: 0;
	}
	.info h3 {
		font-weight: 400;
		margin-top: 0.5em;
	}
}